<div class="row">
    <h3 class="card" style="background-color: black; color:crimson; font-family: 'Montserrat', sans-serif;">{{article.title}}</h3>
    <h5 class="card-panel articleBody" style="background-color: black; color:crimson; font-family: 'Montserrat', sans-serif;">{{body}}</h5>
</div>

<div class="row" style="background-color: black">
    <div class="col s2" style="background-color: black"></div>
    <form action="/comment/{{article._id}}" method="POST" class="card-panel col s8" style="background-color: black">
        <h5 style="background-color: black; color:crimson; font-family: 'Montserrat', sans-serif;">Comment on this Article</h5>
        <div class="row" style="background-color: black">
                <input type="text" placeholder="Name" name="name" class="validate active" style="background-color: black; color:crimson; font-family: 'Montserrat', sans-serif;">
            </div>

            <div class="row" style="background-color: black">
                <input type="text" placeholder="Comment" name="comment" class="validate active" style="background-color: black; color:crimson; font-family: 'Montserrat', sans-serif;">
            </div>

        </div>
        <div class="row" style="background-color: black">
            <div class="input-field" style="background-color: black">
                <center><input class="btn add-comment-button topnav" type="submit" value="Submit" style="background-color: black; color:crimson; border-style:solid; border-width:2px; border-color :crimson"></center>
            </div>
        </div>
    </form>
</div>
<div class="row" style="background-color: black">
    <div class="col s2" style="background-color: black"></div>
    <div class="col s8" style="background-color: black">
        <h5 style="background-color: black; color:crimson; font-family: 'Montserrat', sans-serif;">Comments:</h5>
        {{#if article.comment}}
        {{#each article.comment}}
        <div class="card" style="background-color: black; color:crimson; font-family: 'Montserrat', sans-serif;">
            <p style="background-color: black; color:crimson; font-family: 'Montserrat', sans-serif;" id="nameComment">{{name}}</p>
            <p style="background-color: black; color:crimson; font-family: 'Montserrat', sans-serif;">{{body}}<p>
        </div>
        {{/each}}
        {{else}}
        <p>No Comments Yet.</p>
        {{/if}}

    </div>
</div>